* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(240, 240, 240);
    transition: 0.5s all;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 48, 48);
}
